# Path and configuration directories.
#
export PATH="$HOME/.cargo/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export XDG_CONFIG_HOME="$HOME/.config/"
export XDG_DATA_HOME="$HOME/.local/share/"
export XDG_CACHE_HOME="$HOME/.cache/"

# Preferred applications.
#
export TERMINAL=wezterm;
export BROWSER=firefox;
export EDITOR=nvim;
export VISUAL=nvim;
export FILE_MNGR=thunar;
